
/Projects/MEFDemo_partitioned/MEFDemo/CalendarPlugin/obj
/Projects/MEFDemo_partitioned/MEFDemo/CalendarPlugin/Bin
/Projects/MEFDemo_partitioned/MEFDemo/ClockPlugin/obj
/Projects/MEFDemo_partitioned/MEFDemo/ClockPlugin/Bin
/Projects/MEFDemo_partitioned/MEFDemo/ContractLibrary.cs/Bin
/Projects/MEFDemo_partitioned/MEFDemo/ContractLibrary.cs/obj
/Projects/MEFDemo_partitioned/MEFDemo/MEFDemo/obj
/Projects/MEFDemo_partitioned/MEFDemo/MEFDemo/Bin
/Projects/MEFDemo_partitioned/MEFDemo/MEFDemo.Web/ClientBin
/Projects/MEFDemo_partitioned/MEFDemo/NotepadPlugin/obj
/Projects/MEFDemo_partitioned/MEFDemo/NotepadPlugin/Bin